.resultsCol{
    position: absolute;
    top: 0;
    height: 97%;
    width: 50%;
}

.resultsCard{
    background: gray;
    border-radius: 10px;
    height: 100%;
    margin: 10px;
    font-size: 20pt;
    font-weight: bold;
    padding: 5px;
}

.resultsCard *{
    margin: 20px;
}

.resultsName{
    margin-top: 25px;
}

.resultsTitle, .resultsAverageSpeed, .resultsMaxHeartbeat{
    margin-bottom: 50px;
}